
<app-page-header title="Meus Cultos" description="Aqui você encontra uma lista com seus cultos cadastrados"></app-page-header>

<mat-form-field appearance="fill">
  <mat-label>Instituição</mat-label>
  <select (change)="carregarListaDeCultos($event)" matNativeControl>
    <option *ngFor="let instituicao of instituicoes" [value]="instituicao.id">{{ instituicao.nome }}</option>
  </select>
</mat-form-field>

<div style="padding: 10px; text-align: right;">
  <button mat-raised-button (click)="openEditModal()" [disabled]="!instituicaoSelecionada">Novo Culto</button>
</div>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSourceCult">

    <!-- Position Column -->
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{ formatarDataParaExibicao(element.data) }} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="duracao">
      <th mat-header-cell *matHeaderCellDef> Duração </th>
      <td mat-cell *matCellDef="let element"> {{element.duracao}} Minutos </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="capacidade">
      <th mat-header-cell *matHeaderCellDef> Capacidade </th>
      <td mat-cell *matCellDef="let element"> {{element.capacidade}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element"> 
        <button class="table-action-button" mat-raised-button (click)="openEditModal(element)">Editar</button>
        <button class="table-action-button" mat-raised-button color="warn" (click)="deleteCulto(element)">Excluir</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div style="padding: 17px; text-align: center;" *ngIf="dataSourceCult.data.length === 0">Instituição não possui cultos cadastrados</div>

  <mat-paginator [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
</div>