
<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">

  <mat-sidenav #drawer mode="over" class="sidenav" opened [fixedInViewport]="true" [fixedTopGap]="64" [fixedBottomGap]="0">
    <mat-toolbar><fa-icon [icon]="faBars" size="sm"></fa-icon> &nbsp; Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="instituicoes"><fa-icon [icon]="faCalendarAlt" size="sm"></fa-icon> &nbsp; Agendamento</a>
      <!--<a mat-list-item routerLink="cultos"><fa-icon [icon]="faUsers" size="sm"></fa-icon> &nbsp; Cultos</a>-->
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="fixed-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        class="nav-toggle"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon><fa-icon [icon]="faChurch" size="sm"></fa-icon></mat-icon> &nbsp; CChurch</span>

      <span class="toolbar-spacer"></span>
      
      <button class="toolbar-button" mat-button [matMenuTriggerFor]="menu"><fa-icon [icon]="faUserCircle" size="lg"></fa-icon></button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="perfil">
          <mat-icon><fa-icon [icon]="faUser" size="sm"></fa-icon></mat-icon>
          <span>Perfil</span>
        </a>
        <a mat-menu-item routerLink="minhas-instituicoes">
          <mat-icon><fa-icon [icon]="faChurch" size="sm"></fa-icon></mat-icon>
          <span>Minhas Instituições</span>
        </a>
        <a mat-menu-item routerLink="meus-cultos">
          <mat-icon><fa-icon [icon]="faUsers" size="sm"></fa-icon></mat-icon>
          <span>Meus Cultos</span>
        </a>
        <a mat-menu-item routerLink="agendamentos">
          <mat-icon><fa-icon [icon]="faCalendarDay" size="sm"></fa-icon></mat-icon>
          <span>Meus Agendamentos</span>
        </a>
       
      </mat-menu>

      <button (click)="logout()" class="toolbar-button" mat-button><fa-icon [icon]="faSignOutAlt" size="lg"></fa-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    
    <div class="mat-elevation-z1" [ngClass]="{'content': drawer.opened, 'content-not-menu': !drawer.opened}">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
  
</mat-sidenav-container>
