<app-page-header title="Meus Agendamentos" description="Aqui você encontra uma lista com seus agendamentos realizados"></app-page-header>


<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="idCulto">
      <th mat-header-cell *matHeaderCellDef> Culto </th>
      <td mat-cell *matCellDef="let element"> {{element.idCulto}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="idPessoa">
      <th mat-header-cell *matHeaderCellDef> Pessoa </th>
      <td mat-cell *matCellDef="let element"> {{element.idPessoa}} </td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef> Nome do Culto </th>
      <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="data">
      <th mat-header-cell *matHeaderCellDef> Data do Culto </th>
      <td mat-cell *matCellDef="let element"> {{formatarDataParaExibicao(element.data)}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dataAgendamento">
      <th mat-header-cell *matHeaderCellDef> Agendado em </th>
      <td mat-cell *matCellDef="let element"> {{formatarDataParaExibicao(element.dataAgendamento)}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="warn" (click)="cancelSchedule(element)">Cancelar Agendamento</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div style="padding: 17px; text-align: center;" *ngIf="dataSource.data.length === 0">Você não possui agendamentos cadastrados</div>

  <mat-paginator [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
</div>